@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.product-link-button {
  line-height: 20px;
  font-weight: 700;
  color: inherit;
  text-align: center;
  text-decoration: none;
  background: #FCFCFC;
  border: 4px solid rgba(255, 47, 100, 0.3);
  border-radius: 26px;

}

.product-link {
  color: inherit;
  text-align: center;
  text-decoration: none;
  background-color: #FCFCFC;
}

.button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #FCFCFC;
  background-color: #FF2F64;
  border: none;
  border-radius: 26px;
}

.navigation-container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.logo {
  margin-right: 32px;
}

.navigation {
  display: flex;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 480px;
}

.navigation-user {
  max-width: 450px;
}

.navigation-link {
  line-height: 20px;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.navigation-tel {
  font-weight: 700;
}

.main-product-container {
  display: flex;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.product-list {
  margin: 0;
  padding: 0;
}

.product-title {
  width: 470px;
  padding-left: 70px;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.product-description {
  width: 414px;
  padding-left: 70px;
  font-size: 18px;
  line-height: 24px;
}

.slider-pagination {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-pages a {
  color: #FCFCFC;
  text-decoration: none;
}

.gifts-container {
  display: flex;
  justify-content: space-between;
}

.gift {
  width: 570px;
  padding-left: 36px;
  box-sizing: border-box;
  color: #2D3440;
  background-color: #FF7799;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;
}

.gift:first-of-type {
  background-image: url(/images/gift-strawberry.png);
}

.gift:last-of-type {
  background-image: url(/images/gift-marshmallow.png);
}

.gifts-title,
.products-title {
  margin: 0 auto;
  width: 434px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}


.gift-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.gift-description {
  width: 330px;
}

.products-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.products-title {
  width: 550px;
}

.products-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 270px;
  color: #2D3440;
  background-color: #FCFCFC;
}

.product-list-title {
  width: 190px;
  font-size: 20px;
  line-height: 24px;
}

.product-list-description {
  width: 190px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565C66;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

.advantages {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 40px;
  width: 1122px;
  background-color: #FFFFFF;
}

.advantages-title {
  width: 1000px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  color: #565C66;
}

.features-list-item {
  width: 445px;
}

.section-container {
  display: flex;
  justify-content: space-between;
}

.blog {
  width: 570px;
  box-sizing: border-box;
  padding-left: 32px;
  color: #2D3440;
  background-image: url(/images/blog.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.blog-title {
  width: 170px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #565C66;
}

.blog-link {
  display: block;
  width: 300px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
}

.newsletter {
  width: 570px;
  box-sizing: border-box;
  padding-left: 32px;
  background-color: #FFFFFF;
}

.newsletter-text {
  width: 510px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565C66;
}

.appointment {
  display: flex;
  color: #2D3440;
  background-image: url(/images/delivery.jpg);
  background-size: 100% auto;
}

.appointment-content-text {
  margin-left: 100px;
  margin-right: auto;
}

.appointment-content-delivery {
  width: 500px;
  margin-right: 64px;
}

.appointment-title {
  width: 360px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.appointment-description {
  width: 375px;
}

.appointment-inf-description {
  width: 380px;
}

.appointment-description,
.appointment-inf-description {
  color: #565C66;
}

.appointment-inf {
  color: #2D3440;
  background-color: #FCFCFC;
}

.appointment-form p {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.contacts {
  color: #2D3440;
  background-image: url(/images/contacts.jpg);
  background-size: 100% auto;
}

.contacts-content {
  box-sizing: border-box;
  width: 343px;
  margin-left: 64px;
  padding-left: 40px;
  color: #2D3440;
  background-color: #FCFCFC;
}

.contacts-subtitle-adress, .contacts-subtitle-phone {
  width: 205px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565C66;
}

.contacts-adress-text {
  width: 265px;
  margin-right: 40px;
}

.contacts-adress-text,
.contacts-phone {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-phone {
  width: 225px;
  text-decoration: none;
  color: #2D3440;
}

.contacts-time {
  width: 160px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #565C66;
}

.button-feedback {
  text-decoration: none;
}

.page-footer-container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-social-pages {
  box-sizing: border-box;
  width: 150px;
  padding-left: 4px;
}

.footer-social-pages a {
  color: #FCFCFC;
  text-decoration: none;
}

.footer-inf {
  width: 360px;
}

.inf-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.inf-item:first-of-type a {
  font-weight: 700;

}

.footer-htmlacademy {
  padding-right: 14px;
}

.about-text {
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(45, 52, 64,0.5);;
}




.breadcrumbs {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.breadcrumbs-item:last-of-type .breadcrumbs-link{
  border-bottom: solid 1px #2D3440;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.inner-header-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.catalog-product {
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-group {
  background-color:rgba(252, 252, 252, 0.3);
  border-radius: 18px;
}

.filter-button {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  background-color:rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
}

.pagination-link {
  font-size: 14px;
  font-weight: inherit;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.pagination-current {
  background: #FCFCFC;
}
