@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.product-link-button {
  display: inline-block;
  padding: 12px 32px;
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  background-color: #FCFCFC;
  border: 4px solid #F2CAD4;
  border-radius: 26px;
  cursor: pointer;
}

.product-link-button:hover {
  background-color: #F2CAD4;
  border-color: #FCFCFC;
}

.product-link-button:active {
  border: 2px solid #2D3440;
}

.product-link-button:focus {
  background-color: #F3CFD9;
  border: 2px solid #2D3440;
}

.product-link-button:disabled {
  font-weight: 400;
  color: #B9B9B9;
  background-color: #E7E7E7;
  border: 4px solid #FDCEDA;
}

.product-link {
  color: inherit;
  text-align: center;
  text-decoration: none;
  background-color: #FCFCFC;
}

.button {
  padding: 12px 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #FCFCFC;
  background-color: #FF2F64;
  border: 4px solid #F2A2B6;
  border-radius: 26px;
  cursor: pointer;
}

.button:hover {
  color: #2D3440;
  background-color: #FDFDFD;
  border-color: #FF2F64;
}

.button:active {
  background-color: #FEAFC3;
  border: 2px solid #2D3440;
}

.button:focus {
  border: 2px solid #2D3440;
}

.button:disabled {
  font-weight: 400;
  color: #565C66;
  background-color: #B9B9B9;
  border-color: #E8E8E8;
}

.product-button {
  position: relative;
  min-width: 32px;
  min-height: 32px;
  background-color: #FF2F64;
  border: 2px solid #FF2F64;
  border-radius: 50%;
  cursor: pointer;
  fill: #FCFCFC;
}

.product-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #FCFCFC;
}

.product-button .product-icon {
  fill: inherit;
}

.product-button:hover {
  background-color: #FCFCFC;
  fill: #2D3440;
}

.product-button:active {
  background-color: #FFCBD8;
  fill: #2D3440;
}

.product-button:focus {
  border-color: #2D3440;
}

.product-button:disabled {
  background-color: #B9B9B9;
  border-color: #B9B9B9;
  fill: #565C66;
}

.slider-button {
  display: none;
}

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding: 24px 0;
}

.navigation-logo {
  width: 137px;
  margin-right: 16px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 480px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  justify-content: end;
  max-width: 450px;
  margin-left: auto;
}

.navigation-user .navigation-item:first-of-type .navigation-link {
  background: none;
  border: none;
}

.navigation-user .navigation-item:not(:last-of-type) .navigation-link {
  margin-right: 16px;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  width: 32px;
  height: 32px;
  padding: 0;
}

.navigation-user .navigation-link {
  background-color: #FDC6D4;
}

.navigation-link {
  position: relative;
  display: block;
  min-width: 14px;
  min-height: 14px;
  padding: 6px 16px;
  line-height: 20px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
}

.navigation-link:hover {
  background-color: #FDD5DF;
}

.navigation-link:active {
  background-color: #FCFCFC;
}

.navigation-link:focus {
  background-color: #FDD5DF;
  outline: 2px solid #000000;
}

.navigation-link:current {
  color: #FCFCFC;
  background-color: #FF4A78;
}

.navigation-list .navigation-link-current {
  color: #FCFCFC;
  background-color: #FF4A78;
}

.navigation-link-icon {
  padding-left: 38px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #2D3440;
}

.navigation-link-icon .navigation-icon{
  right: auto;
  left: 18px;
  margin: auto 0;
}

.navigation-tel {
  padding: 6px 0;
  font-weight: 700;
}

.main-product-container {
  display: flex;
  margin-bottom: 80px;
}

.main-product-container .main-product-container-columns:last-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: flex-end;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-title {
  width: 470px;
  margin: 136px 0 24px 70px;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.product-description {
  width: 414px;
  margin: 0 0 44px 70px;
  font-size: 18px;
  line-height: 24px;
}

.main-product .product-link-button {
  margin: 0 0 122px 70px ;
}

/* .main-product-container-columns .slider-image:first-of-type {
  margin-right: 79px;
} */

.main-product-container-columns .slider-image:last-of-type {
  margin-right: 0;
}

.slider-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-list .slider-list-item:first-of-type {
  margin-right: 60px;
}

.slider-list-item {
  position: relative;
}

.slider-list-item:not(:last-of-type) {
  margin-right: 40px;
}

.slider-list-item:not(:first-of-type) {
  padding: 0 17px;
}

.slider-image-current {
  position: relative;
}

.slider-list-item:not(:first-of-type)::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  z-index: -1;
  width: 100px;
  height: 100px;
  background-color: #FFCBD8;
  opacity: 0.4;
  border-radius: 50%;
}

.slider-image-current::after {
  position: absolute;
  top: 97px;
  left: -4px;
  content: "";
  z-index: -1;
  width: 312px;
  height: 312px;
  background-color: #FFCBD8;
  border-radius: 50%;
}

.social-link {
  position: relative;
  display: flex;
  min-width: 24px;
  min-height: 24px;
  fill: #FCFCFC;
  border-radius: 50%;
  border: 2px solid #FDC6D4;
}

.social-link .navigation-icon {
  min-width: 24px;
  min-height: 24px;
  fill: inherit;
}

.social-link:active {
  opacity: 0.5;
}

.social-link:focus {
  border-color: #2D3440;
}

.social-link:hover::after,  .social-link:active::after, .social-link:focus:after{
  position: relative;
  display: block;
  z-index: -1;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2D3440;
  content: "";
}

.slider-pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-button {
  min-width: 12px;
  min-height: 12px;
  padding: 0;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-list a {
  color: #FCFCFC;
  text-decoration: none;
  margin-right: 16px;
}

.social-list-item:last-of-type a {
  margin-right: 0;
}

.gifts-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.gift {
  box-sizing: border-box;
  width: 570px;
  padding: 36px 36px 32px;
  color: #2D3440;
  background-color: #FF7799;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;
  border-radius: 16px;
}

.gift:first-of-type {
  background-image: url(../images/gift-strawberry.png);
}

.gift:last-of-type {
  background-image: url(../images/gift-marshmallow.png);
}

.gifts-title,
.products-title {
  width: 434px;
  margin: 0 auto;
  margin-bottom: 56px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.gift-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.gift-description {
  width: 330px;
  margin: 28px 0 24px 0;
}

.products-title {
  width: 550px;
}

.products {
  margin-bottom: 80px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 30px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style-type: none;
}

.product-image {
  margin: -51px 0 16px;
  border-radius: 50%;
}

.products-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 270px;
  margin: 0;
  margin-top: 51px;
  padding: 0 40px 24px;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.products-list-item .product-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list-title {
  width: 190px;
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 24px;
}

.product-list-description {
  width: 190px;
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565C66;
}

.product-price {
  margin: 4px 0;
  font-size: 20px;
  line-height: 24px;
}

.advantages {
  width: 1170px;
  margin-bottom: 80px;
  padding: 24px 0;
  background: url(../images/advantages-border.png);
  background-repeat: no-repeat;
  background-size: 160%;
  background-position: -10px;
  border-radius: 16px;
}

.advantages-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 1122px;
  margin: auto;
  padding: 56px 40px 16px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.advantages-title {
  width: 1000px;
  margin: 0 auto 56px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  color: #565C66;
  list-style-type: none;
}

.features-list-item::before {
  display: flex;
  min-width: 32px;
  height: 32px;
  margin-right: 16px;
  padding: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  border: 2px solid black;
  border-radius: 50%;
  content: "";
}

.features-list-icecream::before {
  background-image: url(../images/ice-cream.svg);
}

.features-list-cow::before {
  background-image: url(../images/cow.svg);
}

.features-list-leaf::before {
  background-image: url(../images/leaf.svg);
}

.features-list-thermometer::before {
  background-image: url(../images/thermometer.svg);
}

.features-list-item {
  display: flex;
  width: 505px;
  margin-bottom: 40px;
}

.section-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.blog {
  box-sizing: border-box;
  width: 570px;
  padding: 32px;
  color: #2D3440;
  background-image: url(../images/blog.jpg);
  background-repeat: no-repeat;
  background-size: 115% auto;
  background-position: 0 -100px;
  border-radius: 16px;
}

.blog-title {
  width: 170px;
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #565C66;
}

.blog-link {
  display: block;
  width: 300px;
  margin-bottom: 38px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
}

.newsletter {
  width: 570px;
  border-radius: 16px;
  background-image: url(../images/newsletter-border.png);
  background-size: cover;
}

.newsletter-container {
  box-sizing: border-box;
  width: 558px;
  margin: auto;
  margin-top: 6px;
  padding: 26px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.newsletter-text {
  width: 510px;
  margin: 0;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565C66;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
}

.field {
  width: 326px;
  height: 48px;
}

.appointment {
  display: flex;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
  color: #2D3440;
  background-image: url(../images/delivery.jpg);
  background-size: 100% auto;
  background-position: center;
  border-radius: 16px;
}

.appointment-content-text {
  margin-right: auto;
}

.appointment-content-delivery {
  width: 500px;
  margin-right: 64px;
}

.appointment-title {
  width: 360px;
  margin: 103px 0 24px 0;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.appointment-description {
  width: 375px;
  margin: 0;
}

.appointment-inf-description {
  width: 380px;
  margin: 0;
  margin-bottom: 32px;
}

.appointment-description,
.appointment-inf-description {
  color: #565C66;
}

.appointment-inf {
  padding: 40px;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.appointment-form {
  display: grid;
  grid-template-columns: 117px 160px 111px;
  gap: 20px 16px;
}

.appointment-form-phone {
  grid-column: 2 / 4;
}

.appointment-form-adress {
  grid-column: 1 / -1;
}

.appointment-form p {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.appointment-form label {
  margin-bottom: 8px;
}

.appointment-form input {
  height: 48px;
}

.appointment-form  .info {
  display: none;
}

.button-contacts {
  grid-column: 2 / 3;
  margin-top: 8px;
}

.contacts {
  padding: 64px 0 64px 64px;
  color: #2D3440;
  background-image: url(../images/contacts.jpg);
  background-size: 100% auto;
  background-position: center;
  border-radius: 16px;
}

.contacts-content {
  box-sizing: border-box;
  width: 343px;
  padding: 40px;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.contacts-subtitle-adress,
.contacts-subtitle-phone {
  width: 205px;
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565C66;
}

.contacts-adress-text,
.contacts-phone {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-adress-text {
  width: 265px;
  margin-bottom: 24px;
}

.contacts-phone {
  width: 225px;
  text-decoration: none;
  color: #2D3440;
}

.contacts-time {
  width: 160px;
  margin: 0;
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #565C66;
}

.button-feedback {
  display: inline-block;
  text-decoration: none;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding: 48px 0 44px;
}

.catalog-footer .page-footer-container {
  border-top: 1px solid #FDC6D4;
}

.footer-social-pages {
  box-sizing: border-box;
  width: 220px;
  padding-left: 4px;
}

.footer-inf {
  width: 360px;
}

.inf-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.inf-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.inf-item {
  min-width: 126px;
  margin-right: 24px;
  padding-bottom: 8px;
}

.inf-item:nth-child(2n) {
  margin-right: 0;
}

.inf-item:first-of-type a::before {
  position: absolute;
  top: 2px;
  left: -23px;
  width: 14px;
  height: 14px;
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  content: "";
}

.inf-item:first-of-type a {
  position: relative;
  font-weight: 700;
}

.footer-htmlacademy {
  padding-right: 14px;
}

.about-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-logo {
  display: block;
  margin-bottom: 14px;

}

.htmlacademy-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #967181;
}





.logo {
  max-height: 56px;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 16px;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.breadcrumbs-item:last-of-type {
  margin-right: 0;
}

.breadcrumbs-item:last-of-type .breadcrumbs-link {
  border-bottom: solid 1px #2D3440;
}

.breadcrumbs-item:not(:first-of-type) .breadcrumbs-link::before {
  position: absolute;
  width: 8px;
  height: 6px;
  top: 6px;
  left: -18px;
  content: "";
  background-image: url(../images/breadcrumbs.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.main-inner {
  padding-top: 32px;
}

.inner-header-title {
  margin: 0 0 40px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.catalog-product {
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  width: 840px;
}

.catalog-filter-group {
  min-width: 196px;
  margin: 0 0 16px;
  padding: 0;
  border: none;
}

.catalog-filter-group:last-of-type {
  margin: 0;
  margin-right: 16px;
}

.catalog-filter-title {
  margin-bottom: 8px;
}

.select-control {
  padding: 10px 16px;
  background-color: #FDC6D4;
  border: none;
  border-radius: 18px;
}

.catalog-filter-list {
  display: flex;
  margin: 0;
  padding: 8px 24px;
  list-style-type: none;
  background-color: #FDC6D4;
  border-radius: 18px;
}

.catalog-filter-item:not(:last-child) {
  margin-right: 16px;
}

.filter-button {
  width: 185px;
  height: 36px;
  margin-top: auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  background-color: #FDC6D4;
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #FCFCFC;
  border-color: #FDC6D4;
}

.filter-button:active {
  background-color: #FDD5DF;
  border-color: #FDD5DF;
}

.filter-button:focus {
  border-color: #2D3440;
}

.filter-button:disabled {
  opacity: 0.3;
}

.pagination-container {
  display: flex;
  margin-top: 15px;
}

.pagination-show-more {
  margin-left: 487px;
}

.pagination {
  display: flex;
  align-self: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  text-align: center
}

.pagination-prev {
  position: relative;
}

.pagination-next {
  position: relative;
}

.pagination-disabled {
  opacity: 0.3;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 24px;
  min-width: 24px;
  font-size: 16px;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  border: 1px solid #FEAFC3;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-number:hover:not(.pagination-current) {
  background-color: #FDD5DF;
}

.pagination-number:active:not(.pagination-current) {
  background-color: #FDD5DF;
  border-color: #FCFCFC;
}

.pagination-number:focus:not(.pagination-current) {
  background-color: #FDD5DF;
  border-color: #2D3440;
}

.pagination-current {
  background: #FCFCFC;
  border-radius: 50%;
  cursor: default;
}
